@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 23 23 23;
    --card-foreground: 255 255 255;
    --popover: 23 23 23;
    --popover-foreground: 255 255 255;
    --primary: 255 255 255;
    --primary-foreground: 0 0 0;
    --secondary: 163 163 163;
    --secondary-foreground: 0 0 0;
    --muted: 38 38 38;
    --muted-foreground: 163 163 163;
    --accent: 200 200 200;
    --accent-foreground: 0 0 0;
    --destructive: 235 64 64;
    --destructive-foreground: 255 255 255;
    --border: 38 38 38;
    --input: 38 38 38;
    --ring: 163 163 163;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}